@import 'variables'
@import 'mixins'

left-margin = 55px

.CodeMirror
  -webkit-font-smoothing: initial
  background-color: transparent
  font-family: "Menlo","Courier New","Terminal", monospace
  font-size: 16px
  line-height: 23px
  margin: 24px horizontal-padding 22px left-margin
  transist: all
  pre
    padding: 0
  .CodeMirror-placeholder
    color: #caccd0
.CodeMirror-lines
  padding: 0
.CodeMirror-gutters
  border: none
  border-right: 9px solid transparent
  background-color: transparent
.CodeMirror-linenumber
  padding: 0
  color: #E0E2E5
  opacity: 1
.CodeMirror
  height: auto
.CodeMirror-scroll
  overflow-x: auto
  max-height: 140px

.CodeMirror
  &.cm-s-neo, &.cm-s-css
    color: #2E383C
    .cm-keyword
      color: #3498DB
    .cm-atom
      color: #9B59B6
    .cm-node
      color: #E74C3C
    .cm-string
      color: #E67E22
    .cm-variable
      color: #1ABC9C

.one-line
  .CodeMirror
    margin-left: left-margin - 20px
  .CodeMirror-linenumber
    opacity: 0
