@import 'variables'

.CodeMirror
  -webkit-font-smoothing: initial
  background-color: transparent
  font-size: 16px
  font-family: Inconsolata, Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', Consolas, monospace
  line-height: 19px
  margin: 18px horizontal-padding 18px 10px
  pre
    padding: 0
.CodeMirror-lines
  padding: 0
.CodeMirror-gutters
  border: none
  border-right: 9px solid #fff
  background-color: #fff
.CodeMirror-linenumber
  padding: 0
  color: #ccc
.CodeMirror
  height: auto
.CodeMirror-scroll
  overflow-x: auto
  max-height: 140px

.CodeMirror
  &.cm-s-neo, &.cm-s-css
    color: #2E383C
    .cm-keyword
      color: #3498DB
    .cm-atom
      color: #9B59B6
    .cm-node
      color: #E74C3C
    .cm-string
      color: #E67E22
    .cm-variable
      color: #1ABC9C
