@import 'variables'
@import 'nib'
@import 'modal'
@import 'mixins'
global-reset()

html, body
  margin 0
  padding 0
  -webkit-font-smoothing: antialiased

*
  word-wrap: break-word
  outline: none

body
  font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif
  background: #222
  color: #34495e
  stretch()
  overflow: hidden

h1
  image: '/images/logo.png' 22px 28px
  background-repeat: no-repeat
  background-position: 17px 14px
  padding-left: 30px

a
  color: color-link
  cursor: pointer
  &:hover
    color: color-link-hover
    text-decoration: none

table
  width: 100%
  thead tr th, tfoot tr th
    height: middlebar-height
    font-weight: bold
    padding: 0 horizontal-padding
    line-height: middlebar-height
    border-bottom: 1px solid table-color-border-color
  tbody tr td, tr td, tfoot tr td
    background-color: #fff
    border-bottom: 1px solid table-color-border-color
    vertical-align: top
    line-height: middlebar-height
    padding: 0 horizontal-padding

// Bootstrap overrides

.navbar-inverse .navbar-inner
  background: linear-gradient(top, #333, #181818)

.navbar-inner
  padding-left: horizontal-padding
  padding-right: horizontal-padding

.navbar .brand
  color: #fff
  font-weight: bold
  line-height: 18px
  padding-top: 8px
  padding-left: horizontal-padding

.navbar .nav > li:last-child > a
  padding-right: 0

.icon-margin-right
  margin-right: 0.5em

.icon-margin-left
  margin-left: 0.5em

select
  margin-bottom: 0

/////

#views
  position: absolute
  overflow: hidden
  top: topbar-height
  bottom: 0
  left: 0
  right: 0
  z-index: 10
  transist all

.view
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  &.anim
    transform: scale(0.9, 0.9)
  &.outside
    transform: translate(0, -1000px)
  &.enter
    transform: translate(0, 0)

  .view-toolbar
    position: absolute;
    top: 0
    left: 0
    right: 0
    height: toolbar-height
    line-height: toolbar-height
    background: green
    color: #9EA4A6
    background-color: #FAFBFB
    border-bottom: 1px solid table-color-border-color
    padding: 0 horizontal-padding
    ul.inline-list
      margin-bottom 0
      margin-top 9px
      li
        line-height: 29px
        font-size: 13px
        &.divider
          border-left: 1px solid #DBE0E1

  .view-editor
    background-color: #fff
    border-right: 1px solid #E2E6E7
    position: absolute;
    top: toolbar-height + 1px
    left: 0
    right: 0
    height: editor-height
    border-bottom: 1px solid #E2E6E7
    transist width
    a.icon-play-sign
      font-size: 42px
      absolute: top 16px right 16px
      z-index: 10000
      cursor: pointer
      color: color-default-text
      &:hover
        color: color-success

  .view-result
    position: absolute;
    top: editor-height + toolbar-height
    bottom: 0
    right: 0
    left: 0
    transist left
    background: #F5F6F6 url('/images/background-pending.png') 50% 50% no-repeat
    z-index: 10
    &.error
      background-image: url('/images/background-error.png')
    .status-bar
      overflow: hidden
      position: absolute;
      top: 0
      height: middlebar-height
      line-height: 38px
      left: 0
      right: 0
      color: rgb(120, 129, 133)
      background-color: #FFF
      border-top: 1px solid table-color-border-color
      border-bottom: 1px solid table-color-border-color
      padding-left: horizontal-padding
      font-size: 13px
      .updated-code
        float:right
        margin-right horizontal-padding
      &.error
        color: color-error
      [class^="icon-"]
        margin-right: 6px
      .icon-ok
        color: color-success

    .split-pane
      position: absolute
      top: 39px
      left: 0
      right: 0
      bottom: 0
      height: 100%
      transist: all
      &.hidden
        height: 0
      a[class^="icon-"]
        color: color-default-text
        cursor: pointer
        &:hover
          color: color-link
      .view-result-graph
        background-color: #F5F6F6
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 50%
        a.icon-table
          font-size: 24px
          absolute: bottom 57px right horizontal-padding
      .view-result-table
        border-top: 1px solid #E2E6E7
        background-color: #f7f7f7
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 50%
        a.icon-download-alt
          absolute: top 8px right horizontal-padding*2+20
          font-size: 24px
          &.alone
            right: horizontal-padding
        a.icon-collapse
          absolute: top 7px right horizontal-padding
          font-size: 24px
        .view-result-table-scroll
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          display: block;
          overflow: scroll

.update-button
  position:absolute
  bottom: 16px
  right: 16px

// UI states

.hide-editor .view
  .view-editor
    display: none
  .view-result
    top: 0 !important

.expand-graph .view .view-result
  .view-result-graph
    height: 100%
  .view-result-table
    height: 0

.expand-table .view .view-result
  .view-result-graph
    height: 0
  .view-result-table
    height: 100%

.show-sidebar
  .top-bar
  #views, #view-background
    left: (history-width);
    .view-editor
      .handle
        opacity: 0

.alert-box.global
  margin-bottom: 0
  .close
    display: none

// TODO: implement this class as @extend .icon-pencil
.edit-in-place
  .edit-in-place-input
    border: none
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    padding: 6px 8px
    font-size: 13px
    border-radius: 3px
    width: 187px
  .edit-in-place-trigger
    &:before
      content: "\f040"
    [class^="icon-"]:before, [class*=" icon-"]:before
      text-decoration: inherit
      display: inline-block
      speak: none
    color: sidebar-color-fg-icon
    &:hover
      color: sidebar-color-fg-icon-hover
    display: inline
    width: auto
    height: auto
    line-height: normal
    vertical-align: baseline
    margin-top: 0
    font-family: FontAwesome
    font-weight: normal
    font-style: normal
    text-decoration: inherit
    -webkit-font-smoothing: antialiased
    font-size: 16px

    cursor: pointer
    position: absolute
    right: 42px
    top: 11px
