@import 'variables'
@import 'nib'

#sidebar
  user-select: none
  position: absolute
  top: 0
  right: 0
  left: 0
  width: sidebar-width
  bottom: 0
  background-color: sidebar-color-bg
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px
  overflow: scroll
  h3, h4, h5
    position: relative
    color: #fff
    font-weight: bold;
    padding: 0 horizontal-padding;
    margin: 0;
  h3
    position: relative
    font-size: 17px
    line-height: toolbar-height
    padding-left 42px
    cursor: pointer
    a
      color: #fff
  a.close
    absolute: top 10px left 14px
    font-size: 20px
    color: #fff
  h4
    background-color: sidebar-color-section-bg
    line-height: 39px;
    font-size: 13px
    text-transform: uppercase;
    a.add
      cursor: pointer
      absolute: top 0 right 15px
      font-size: 13px
      text-transform: none;
      color: sidebar-color-section-icon
      .icon-plus
        margin-right: 4px
      &:hover
        color: sidebar-color-section-icon-hover

  h5
    font-size: 12px
    line-height: 39px;
    font-size: 13px
    padding-left: 42px
    border-bottom: 1px solid sidebar-color-border
    color: sidebar-color-fg
    font-weight: bold
    &:hover
      color #fff
    &.folder
      cursor: pointer
      .icon-caret-right
        absolute: top 13px left 20px
    .icon-trash
      absolute: top 11px right 17px
      font-size: 16px
      color: sidebar-color-fg-icon
      display: none
      &:hover
        color: sidebar-color-fg-icon-hover
    &:hover
      .icon-trash
        display: block
      .edit-in-place-trigger
        display: inline

  ul
    li.active .list-item
      &:after
        width 4px
        opacity 1
      background-color: sidebar-color-bg-active
      .contents a
        //font-weight bold
        color: sidebar-color-fg-active
        .meta
          font-weight normal
    li
      .list-item
        background-color: sidebar-color-bg
        padding: 11px horizontal-padding 11px 42px
        position: relative
        border-bottom: 1px solid sidebar-color-border
        cursor: pointer
        &:after
          content: ' '
          stretch()
          background-color: #C9F9A1
          width 0
          opacity 0
        &:hover
          .icon-star, .icon-star-empty
            display: block
          .contents a
            color: sidebar-color-fg-active
        .background
          stretch()
        a[class*="icon-"]
          font-size: 16px
          color: sidebar-color-fg-icon
          &:hover
            color: sidebar-color-fg-icon-hover
        .icon-star, .icon-star-empty
          z-index 2
          absolute: right 16px top 12px
          display: none
        .icon-play-sign, .icon-spinner
          z-index 2
          absolute: left 15px top 12px
        a.icon-spinner
          color: #fff
        .contents
          position relative
          z-index: 1
          line-height: 1
          a
            color: sidebar-color-fg
            font-size: 13px
            width: 214px
            display: inline-block
            line-height: 1.4
          .meta
            color: sidebar-color-fg-muted
            font-size: 12px
            margin-top 2px
            .icon
              relative: top 1px
              margin-right: 4px
  ul.indented
    li .list-item
      padding-left: 68px
      .icon-play-sign, .icon-spinner
        left 42px

  .file-drop-area
    margin: 14px
    border: 2px dashed rgba(255,255,255,0.1)
    border-radius: 12px
    background: none
    min-height: 50px
    text-align: center
    line-height: 50px
    text-shadow: none
    color: rgba(255,255,255,0.3)
    &.active
      background: rgba(255,255,255,0.2)
