color-success = #2ECC71
color-error = #E74C3C
color-link = #3498DB
color-link-hover = #5dade2
color-default-text = #788185
sidebar-color-bg = #3A4549
sidebar-color-bg-active = lighten(sidebar-color-bg, 4%)
sidebar-color-border = lighten(sidebar-color-bg, 7%)
sidebar-color-fg = lighten(sidebar-color-bg, 48%) //#9AA7AC
sidebar-color-fg-muted = #728187
sidebar-color-fg-active = #fff
sidebar-color-fg-icon = #616A6D
sidebar-color-fg-icon-hover = #fff
sidebar-color-section-bg = #2E383C
sidebar-color-section-icon = #9AA7AC
sidebar-color-section-icon-hover = #fff
table-color-border-color = #E2E6E7

horizontal-padding = 16px
history-width = 300px
editor-height = 140px
topbar-height = 41px
toolbar-height = 41px
middlebar-height = 39px

$primary-color = #1abc9c
$alert-color = #E13329
$topbar-bg = #222
$body-font-color = #34495e
$table-head-bg = #F5F5F5
$table-head-font-color = #2E383C
$table-head-padding = 0 horizontal-padding
$table-head-font-weight = bold
$table-head-font-size = 13px
$table-row-padding = 0 horizontal-padding
$table-row-font-color = #748287
$table-row-font-size = 13px
$table-even-row-bg = #F7f8f8
$topbar-title-font-size = 20px
$topbar-title-weight = normal
$topbar-height = topbar-height
$topbar-link-font-size = 15px
$topbar-link-hover-lightness = 0
$topbar-dropdown-bg = $primary-color
