.graph-viz {
  float: left;
  width: 500px;
}

path.link {
  fill: none;
  stroke: #7F8C8D;
  stroke-width: 2px;
}

// circle {
//   fill: #3498DB;
//   stroke: #fff;
//   stroke-width: 0;
// }

text {
  font: 10px sans-serif;
  pointer-events: none;
}

// circle.node {
//   cursor: pointer;
//   stroke: #fff;
//   stroke-width: 2px;
// }

// line.link {
//   fill: none;
//   stroke: #BDC3C7;
//   stroke-width: 1.5px;
// }

marker
  fill: #BDC3C7

text
  .faded
    fill: #333

// .node
//   transist all
//   circle
//     fill: #1ABC9C
//     stroke-width: 2px;
//     stroke: #fff
//     transform: scale(1.0, 1.0)
//     transist all
//   &:hover
//     cursor: pointer
//     circle
//       transform: scale(1.2, 1.2)
//       fill: #C7F0E6

.node.faded
//   circle
//     fill: #C7F0E6
  &:hover
    circle
      transform: scale(1.2, 1.2)

// line.link
//   fill: #BDC3C7
//   &.faded
//     stroke: #ECF0F1
//     stroke-dasharray: 0,2 1
