.graph-viz {
  float: left;
  width: 500px;
}

path.link {
  fill: none;
  stroke: #7F8C8D;
  stroke-width: 2px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

marker
  fill: #BDC3C7

text
  .faded
    fill: #333

.node.faded
  &:hover
    circle
      transform: scale(1.2, 1.2)

.outline, .overlay
  cursor: pointer
