article.help
  section.summary
    h1 Cypher -
      code SET
    p
      | The
      code SET
      |  clause updates properties on nodes and relationships.
  section.example
    h1 Example
    figure
      pre.code(mode='cypher').
        MATCH (fan:Person)-[w:WATCHED]->(movie)
        WHERE fan.name = "Mikey"
        SET w.rating = 5
    figcaption Mikey likes everything, so give any movie he has watched 5 stars.
  section.reference
    h1 Reference
    dl
      dt Details
      dd
        a(href='http://docs.neo4j.org/chunked/{{neo4jVersion}}/query-set.html')
          code SET
        |  manual page
      dt Related
      dd
        a(href='/content/help/cypher.html') Cypher overview
        | ,
        a(href='/content/help/match.html')
          code MATCH
        | ,
        a(href='/content/help/where.html')
          code WHERE
