article.help
  section.summary
    h1 Cypher -
      code WITH
    p
      | The
      code WITH
      |  clause allows queries to be chained together, piping the results from one
      | to be used as starting points or criteria in the next.
  section.example
    h1 Example
    figure
      pre.code(mode='cypher').
        MATCH (director:Person)-[:DIRECTED]->(movie)
        WITH director, ORDER BY count(movie.title) LIMIT 1
          MATCH (director)<-[:KNOWS*..6]-(hopeful)
          WHERE hopeful.name = "Starlet Ohuru"
      figcaption Find a path from a hopeful actor to Hollywood's most prolific director.
  section.reference
    h1 Reference
    dl.dl-horizontal
      dt Details
      dd
        a(href='http://docs.neo4j.org/chunked/{{neo4jVersion}}/query-with.html')
          code WITH
        |  manual page
      dt Related
      dd
        a(href='/content/help/cypher.html') Cypher overview
        | ,
        a(href='/content/help/MATCH.html')
          code MATCH
