script(id='template/carousel/carousel.html', type='text/ng-template')
  include ../../components/angular-ui-bootstrap/template/carousel/carousel.html

script(id='template/carousel/slide.html', type='text/ng-template')
  include ../../components/angular-ui-bootstrap/template/carousel/slide.html
