article.help
  .container
    section
     .row
        .span12
          h1
            img(src="images/about-logo.png")
          p {{ neo4j.version }}
      .row
        .span4
          h3 Server
          table.table.table-condensed
            tr
              th Database:
              td {{kernel.store_dir}}
            tr
              th Location:
              td.wrapped {{kernel.StoreDirectory}}
            tr
              th Memory:
              td {{kernel.all_stores_total_mapped_memory_size}}
            tr
              th Storage:
              td.warn unknown
        .span4
          div(ng-show="neo4j.hasData")
            h3 Graph
            table.table.table-condensed
              tr
                td
                  span(ng-repeat='node in labels | limitTo:16')
                    span
                      a.badge(ng-click="execScript('MATCH (n:'+node+') RETURN n LIMIT 100')") {{node}}
                    | &nbsp;
              tr
                td
                  span(ng-repeat='relationship in relationships | limitTo:16')
                    span
                      a.label.relationship(ng-click="execScript('MATCH (a)-[:'+relationship+']->(b) RETURN a,b LIMIT 100')") {{relationship}}
                    | &nbsp;
          div(ng-hide="neo4j.hasData")
            h3 Empty Graph
            p.lead {{ motd.emptiness }}
            ul
              li
                strong Tutorials:
                a.icon-info-sign(play-topic='intro') &nbsp;Intro
                | , &nbsp;
                a.icon-info-sign(play-topic='cypher') &nbsp;Cypher
                | , &nbsp;
                a.icon-info-sign(play-topic='patterns') &nbsp;Patterns
              li
                strong Graphs:
                a.icon-play-sign(play-topic='movies') &nbsp;Movies
                | , &nbsp;
                a.icon-play-sign(play-topic='social') &nbsp;Social
                | , &nbsp;
                a.icon-play-sign(play-topic='telecom') &nbsp;Telecom
        .span4
            h3 Browser
            p.lead Command-driven graph exploration
            ul
              li
                a(help-topic='help')
                  code.icon-info-sign &nbsp;:help
                | &nbsp;- how to use this graph Browser
              li
                a(help-topic='cypher')
                  code.icon-info-sign &nbsp;:help cypher
                | &nbsp;- graph query language
              li
                a(help-topic='commands')
                  code.icon-info-sign &nbsp;:help commands
                | &nbsp;- all available commands


