article.help.manual
  .container
    section.row.summary
      dl.dl-horizontal
        dt Commands
        dd
          | Client-side commands begin with 
          code :
          | . They provide system information and perform REST operations.
    section.row.reference
      dl.dl-horizontal
        dt Information
        dd
          a(help-topic="about", href='#help')
            code :about
          | ,
          a(help-topic="sysinfo", href='#sysinfo')
            code :sysinfo
          | ,
          a(href='/content/help/help.html')
            code :help
          | ,
          a(href='/content/help/schema.html')
            code :schema
        dt REST
        dd
          a(href='/content/help/rest-get.html')
            code :get
          | ,
          a(href='/content/help/rest-post.html')
            code :post
          | ,
          a(href='/content/help/rest-put.html')
            code :put
          | ,
          a(href='/content/help/rest-delete.html')
            code :delete
