article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 Commands
        p.lead Typing commands is 1337
      .details.span9
        p
          | In addition to composing and running Cypher queries, the query bar up above &uarr;
          | understands a few client-side commands. They're useful, and some demonstrate
          | how to use various public APIs.
        p Client-side commands  begin with a &nbsp;
          code :
          | &nbsp; and end with a smile.
        table.table-condensed.table-help
          tr
            th Information:
            td
              a(help-topic="help") :help help
              a(help-topic="about") :help about
          tr
            th REST:
            td
              a(help-topic='rest-get') :help REST GET
              a(help-topic='rest-post') :help REST POST
              a(help-topic='rest-put') :help REST PUT
              a(help-topic='rest-delete') :help REST DELETE
          tr
            th Database:
            td
              a(click-to-code="':profile'")  :profile
              ,
              a(click-to-code="':schema'")  :schema
          tr
            th Browser:
            td
              a(click-to-code="':clear'")  :clear
              ,
              a(click-to-code="':keys'")  :keys
