article.help
  section.summary
    h1 Cypher - 
      code CREATE
    p 
      | The 
      code CREATE
      |  clause is used to create data by specifying named
      | nodes and relationships with inline properties.
  section.example
    h1 Example
    figure
      pre.code(mode='cypher').
        CREATE (le {name:"Euler"})-[:KNOWS {since:1768}]->(db {name:"Bernoulli"}) RETURN le, db
    figcaption Create two related people, returning them.
  section.reference
    h1 Reference
    dl
      dt Details
      dd
        a(href='http://docs.neo4j.org/chunked/{{neo4jVersion}}/query-create.html') 
          code CREATE
        |  manual page
      dt Related
      dd
        a(href='/content/help/merge.html') 
          code MERGE
        | , 
        a(href='/content/help/create-unique.html') 
          code CREATE UNIQUE
        | , 
        a(href='/content/help/cypher.html')
          | Cypher overview
