article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 CREATE UNIQUE
        p.lead Match meets Create
      .details.span9
        p
          | The
          code CREATE UNIQUE
          |  clause is a mix of
          code MATCH
          |  and
          code CREATE
          |  &mdash; it will match what it can, and create what is missing.

        table.table-condensed.table-help
          tr
            th Reference:
            td
              a(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/query-create-unique.html')
                 code.icon-external-link-sign &nbsp;CREATE UNIQUE
              |  manual page
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              a(help-topic='create') :help CREATE
              a(help-topic='merge') :help MERGE
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .span9.offset3
        figure
          pre.code(mode='cypher').
            MATCH (us:Country)
            WHERE us.name = 'United States'
            CREATE UNIQUE (us)-[:STATE]->(ca {name:'California'})
            RETURN ca
          figcaption Creates a new state named California, only if it
            | doesn't already exist.
