article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 Cypher
        p.lead A graph query language
      .details.span9
        p
          | Cypher is a declarative graph query language.

        table.table-condensed.table-help
          tr
            th Reference:
            td
              a.icon-external-link-sign(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/cypher-introduction.html')
                 &nbsp; Cypher introduction
          tr
            th Related:
            td
              a(help-topic='match')
                code.icon-info-sign &nbsp;:help MATCH
              | , 
              a(help-topic='where')
                code.icon-info-sign &nbsp;:help WHERE
              | , 
              a(help-topic='return')
                code.icon-info-sign &nbsp;:help RETURN
              | , 
              a(help-topic='create')
                code.icon-info-sign &nbsp;:help CREATE
              | , 
              a(help-topic='merge')
                code.icon-info-sign &nbsp;:help MERGE
              | , 
              a(help-topic='delete')
                code.icon-info-sign &nbsp;:help DELETE
              | , 
              a(help-topic='set')
                code.icon-info-sign &nbsp;:help SET
              | , 
              a(help-topic='foreach')
                code.icon-info-sign &nbsp;:help FOREACH
              | , 
              a(help-topic='with')
                code.icon-info-sign &nbsp;:help WITH
              | , 
              a(help-topic='start')
                code.icon-info-sign &nbsp;:help START
              | , 
              a(help-topic='create-unique')
                code.icon-info-sign &nbsp;:help CREATE UNIQUE
              | , 
              a(help-topic='cypher')
                .icon-info-sign &nbsp;:help Cypher
    section.row-fluid.example
      .span9.offset3
        figure
          pre.code(mode='cypher').
            MATCH &lt;pattern&gt; WHERE &lt;conditions&gt; RETURN &lt;expressions&gt;
          figcaption Basic form of a Cypher statement.

