article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 Cypher
        p.lead A graph query language
      .details.span9
        p
          | Cypher is a declarative graph query language.

        table.table-condensed.table-help
          tr
            th Reference:
            td
              a.icon-external-link-sign(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/cypher-introduction.html')
                 &nbsp; Cypher introduction
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              a(help-topic='where') :help WHERE
              a(help-topic='return') :help RETURN
              a(help-topic='create') :help CREATE
              a(help-topic='merge') :help MERGE
              a(help-topic='delete') :help DELETE
              a(help-topic='set') :help SET
              a(help-topic='foreach') :help FOREACH
              a(help-topic='with') :help WITH
              a(help-topic='start') :help START
              a(help-topic='create-unique') :help CREATE UNIQUE
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .span9.offset3
        figure
          pre.code(mode='cypher').
            MATCH &lt;pattern&gt; WHERE &lt;conditions&gt; RETURN &lt;expressions&gt;
          figcaption Basic form of a Cypher statement.

