article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 FOREACH
        p.lead Respectful graph data removal
      .details.span9
        p
          | The
          code FOREACH
          |  clause is used to update data within a collection,
          | whether components of a path, or result of aggregation.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              a(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/query-foreach.html')
                code.icon-external-link-sign &nbsp;FOREACH
              |  manual page
          tr
            th Related:
            td
              a(help-topic='create') :help CREATE
              a(help-topic='delete') :help DELETE
              a(help-topic='set') :help SET
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .span9.offset3
        figure
          pre.code(mode='cypher').
            MATCH p = (ups)<-[DEPENDS_ON]-(device) WHERE ups.id='EPS-7001'
            FOREACH (n IN nodes(p): SET n.available = FALSE )
          figcaption Mark all devices plugged into a failed UPS as unavailable.

