article.help
  section.summary
    h1 Cypher - 
      code FOREACH
    p 
      | The 
      code FOREACH
      |  clause is used to update data within a collection,
      | whether components of a path, or result of aggregation.
  section.example
    h1 Example
    figure
      pre.code(mode='cypher').
        MATCH p = (ups)<-[DEPENDS_ON]-(device) WHERE ups.id='EPS-7001'
        FOREACH (n IN nodes(p): SET n.available = FALSE )
    figcaption Mark all devices plugged into a failed UPS as unavailable.
  section.reference
    h1 Reference
    dl
      dt Details
      dd
        a(href='http://docs.neo4j.org/chunked/{{neo4jVersion}}/query-foreach.html') 
          code FOREACH
        |  manual page
      dt Related
      dd
        a(href='/content/help/cypher.html') Cypher overview
        | , 
        a(href='/content/help/create.html') 
          code CREATE
        | , 
        a(href='/content/help/delete.html') 
          code DELETE
        | , 
        a(href='/content/help/set.html') 
          code SET
