article.help
  section.summary
    h1 Help - Overview
    p Cypher is a graph query language.
  section.example
    h1 Example
    figure
      pre.code(mode='cypher').
        MATCH &lt;pattern&gt; WHERE &lt;conditions&gt; RETURN &lt;expressions&gt;
      figcaption Basic form of a Cypher statement.
  section.reference
    h1 Reference
    dl
      dt Details
      dd
        a(href='http://docs.neo4j.org/chunked/{{neo4jVersion}}/cypher-introduction.html')
          | Cypher introduction
      dt Related
      dd
        a(href='/content/help/match.html')
          code MATCH
        | ,
        a(href='/content/help/where.html')
          code WHERE
        | ,
        a(href='/content/help/return.html')
          code RETURN
        | ,
        a(href='/content/help/create.html')
          code CREATE
        | ,
        a(href='/content/help/merge.html')
          code MERGE
        | ,
        a(href='/content/help/delete.html')
          code DELETE
        | ,
        a(href='/content/help/set.html')
          code SET
        | ,
        a(href='/content/help/foreach.html')
          code FOREACH
        | ,
        a(href='/content/help/with.html')
          code WITH
        | ,
        a(href='/content/help/start.html')
          code START
        | ,
        a(href='/content/help/create-unique.html')
          code CREATE UNIQUE
