article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 Help
        p.lead How to Browse
      .details.span9
        p
          | Neo4j Browser is a command shell. Use the query bar up above &uarr; to
          | enter Cypher queries or client-side commands.
        p
          | Compose multi-line 
        
        table.table-condensed.table-help
          tr
            th Cypher:
            td
              a(help-topic="cypher")
                code.icon-info-sign &nbsp;:help cypher
              | ,
              a(href="http://docs.neo4j.org/chunked/{{neo4j.version}}/cypher-introduction.html")
                .icon-external-link-sign &nbsp;Cypher Introduction
          tr
            th Commands:
            td
              a(help-topic="commands")
                code.icon-info-sign &nbsp;:help commands

