article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 Keys
        p.lead Keyboard shortcuts
      .details.span9

        table.table-condensed.table-help
          tr
            td
              .key.code &lt;Return&gt;
            td
              | Execute current command (in single-line mode)
          tr
            td
              .key.code &lt;Shift-Return&gt;
            td
              | Switch to multi-line editing
          tr
            td
              .key.code &lt;Ctrl-Return&gt;
            td
              | Execute current command (in any mode)
          tr
            td
              .key.code &lt;Ctrl-Up&gt;
            td
              | Next command in history
          tr
            td
              .key.code &lt;Ctrl-Down&gt;
            td
              | Previous command in history
