article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 Keys
        p.lead Keyboard shortcuts
      .details.span9

                
        table.table-condensed.table-help
          tr
            th Editor keys
            th Action
          tr
            td
              .key.code Shift-Return
            td
              | Multi-line editing
          tr
            td
              .key.code Ctrl-Return
            td
              | Execute current query
          tr
            td
              .key.code Ctrl-Up
            td
              | Next command in history
          tr
            td
              .key.code Ctrl-Down
            td
              | Previous command in history
