article.help
  section.summary
    h1 Cypher -
      code MATCH
    p
      | The
      code MATCH
      |  clause describes a pattern of graph data. Neo4j will collect
      | all paths within the graph which match this pattern.
      | This is often used with
      code WHERE
      |  to filter the collection.
    p
      code MATCH
      |  descibes the structure, and
      code WHERE
      | specfies the content of a query.
  section.example
    h1 Example
    figure
      pre.code(mode='cypher').
        MATCH (director:Person)-[:DIRECTED]->(movie)
        WHERE director.name = "Steven Spielberg"
        RETURN movie.title
      figcaption Find all the many fine films directed by Steven Spielberg.
  section.reference
    h1 Reference
    dl.dl-horizontal
      dt Details
      dd
        a(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/query-match.html')
          code MATCH
        |  manual page
      dt Related
      dd
        a(href='/content/help/cypher.html') Cypher overview
        | ,
        a(href='/content/help/where.html')
          code WHERE
