article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 MATCH 
        p.lead Pattern powah
      .details.span9
        p
          | The
          code MATCH
          |  clause describes a pattern of graph data. Neo4j will collect
          | all paths within the graph which match this pattern.
          | This is often used with
          code WHERE
          |  to filter the collection.
        p
          code MATCH
          |  descibes the structure, and
          code WHERE
          | specfies the content of a query.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              a(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/query-match.html')
                code.icon-external-link-sign &nbsp;MATCH
              |  manual page
          tr
            th Related:
            td
              a(help-topic='where')
                code.icon-info-sign &nbsp;:help WHERE
              | , 
              a(help-topic='cypher')
                .icon-info-sign &nbsp;:help Cypher
    section.row-fluid.example
      .span9.offset3
        figure
          pre.code(mode='cypher').
            MATCH (director:Person)-[:DIRECTED]->(movie)
            WHERE director.name = "Steven Spielberg"
            RETURN movie.title
          figcaption Find all the many fine films directed by Steven Spielberg.
