article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 REST
        p.lead Any HTTP verb
      .details.span9
        p
          | The query bar has convenience commands for sending any HTTP verb help
          | to Neo4j's REST API. For PUT and POST, include a JSON payload. 
        table.table-condensed.table-help
          tr
            th REST:
            td
              a(help-topic='rest-get')
                code.icon-info-sign &nbsp;:help REST GET
              | ,
              a(help-topic='rest-post')
                code.icon-info-sign &nbsp;:help REST POST
              | ,
              a(help-topic='rest-put')
                code.icon-info-sign &nbsp;:help REST PUT
              | ,
              a(help-topic='rest-delete')
                code.icon-info-sign &nbsp;:help REST DELETE
          

