article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 Commands
        p.lead Typing commands is 1337
      .details.span9
        p
          | In addition to composing and running Cypher queries, the query bar up above &uarr; 
          | understands a few client-side commands. They're useful, and some demonstrate
          | how to use various public APIs. 
        p Client-side commands  begin with a &nbsp;
          code :
          | &nbsp; and end with a smile. 
        table.table-condensed.table-help
          tr
            th Information:
            td
              a(help-topic="about")
                code.icon-info-sign &nbsp;:about
              | ,
              a(help-topic="sysinfo")
                code.icon-info-sign &nbsp;:sysinfo
              | ,
              a(help-topic="help")
                code.icon-info-sign &nbsp;:help
              | ,
              a(href='/content/help/schema.html')
                code.icon-info-sign &nbsp;:schema
          tr
            th REST:
            td
              a(href='/content/help/rest-get.html')
                code.icon-info-sign &nbsp;:get
              | ,
              a(href='/content/help/rest-post.html')
                code.icon-info-sign &nbsp;:post
              | ,
              a(href='/content/help/rest-put.html')
                code.icon-info-sign &nbsp;:put
              | ,
              a(href='/content/help/rest-delete.html')
                code.icon-info-sign &nbsp;:delete
          tr
            th Browser:
            td
              a(help-topic="clear")
                code.icon-info-sign &nbsp;:clear
          

