article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 REST GET 
        p.lead 
      .details.span9
        p Use 
          code :GET
          |  to send GET to Neo4j's REST interface.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              a(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/rest-api.html')
                code.icon-external-link-sign &nbsp;REST
          tr
            th Related:
            td
              a(help-topic='rest-delete')
                code.icon-info-sign &nbsp;:help REST DELETE
              | ,
              a(help-topic='rest-post')
                code.icon-info-sign &nbsp;:help REST POST
              | , 
              a(help-topic='rest-put')
                code.icon-info-sign &nbsp;:help REST PUT
    section.row-fluid.example
      .span9.offset3
        figure
          pre.code(mode='rest').
            :GET /db/data/labels
          figcaption Rollback an open transaction.



