article.help
  section.summary
    h1 Cypher - 
      code RETURN
    p 
      | The 
      code RETURN
      |  clause defines what to include in a query result set, specified as a comma separated list of expressions.
  section.example
    h1 Example
    figure
      pre.code(mode='cypher').
        MATCH (director:Person)-[:DIRECTED]->(movie)
        RETURN director.name AS Director, collect(movie.title) AS Movies
    figcaption Return all directors, each paired with a collection of the movies they've directed.
  section.reference
    h1 Reference
    dl
      dt Details
      dd
        a(href='http://docs.neo4j.org/chunked/{{neo4jVersion}}/query-return.html') 
          code RETURN
        |  manual page
      dt Related
      dd
        a(href='/content/help/cypher.html') Cypher overview
        | , 
        a(href='/content/help/match.html') 
          code MATCH
