article.help
  .container
    section.row-fluid.summary
      .summary.span3
        h3 SET 
        p.lead property updates
      .details.span9
        p
          | The
          code SET
          |  clause updates properties on nodes and relationships.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              a(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/query-set.html')
                code.icon-external-link-sign &nbsp;SET
              |  manual page
          tr
            th Related:
            td
              a(help-topic='match')
                code.icon-info-sign &nbsp;:help MATCH
              | ,
              a(help-topic='where')
                code.icon-info-sign &nbsp;:help WHERE
              | , 
              a(help-topic='cypher')
                .icon-info-sign &nbsp;:help Cypher
    section.row-fluid.example
      .span9.offset3
        figure
          pre.code(mode='cypher').
            MATCH (fan:Person)-[w:WATCHED]->(movie)
            WHERE fan.name = "Mikey"
            SET w.rating = 5
          figcaption Mikey likes everything, so give any movie he has watched 5 stars.
  
