article.help
  section.summary
    h1 Cypher -
      code START
    p
      | The
      code START
      |  clause binds starting points within the graph, by directly looking up
      | a node ID, or using a special (non-schema) index.
  section.example
    h1 Example
    figure
      pre.code(mode='cypher').
        START n=node(0)
        RETURN n
      figcaption Bind n to node with ID 0, then return that node.
  section.reference
    h1 Reference
    dl.dl-horizontal
      dt Details
      dd
        a(href='http://docs.neo4j.org/chunked/{{neo4jVersion}}/query-start.html')
          code START
        |  manual page
      dt Related
      dd
        a(href='/content/help/cypher.html') Cypher overview
        | ,
        a(href='/content/help/where.html')
          code MATCH
        | ,
        a(href='/content/help/return.html')
          code RETURN
