article.help.manual
  .container
    section.row.alert
      .span2 Unrecognized Input
      .span10
        p {{ motd.unrecognized }}
        p Input: 
          code {{frame.input | uncomment}}
        p Would this work? 
          a(ng-click='execScript(":"+frame.input)')
            code :{{frame.input | uncomment}}
  