article.help.manual
  .container
    section.row.summary.alert
      dl.dl-horizontal
        dt Alert
        dd
          p {{ motd.unrecognized }}
        dt Unrecognized input
        dd
          code.text-warning {{frame.input | uncomment}}
  