article.help
  .container
    section
     .row
        .span12
          h1 
            img(src="images/about-logo.png") 
            |  {{neo4j.edition}}
          p {{ neo4j.version }}
      .row
        .span4
          h3 Server
          table.table.table-condensed
            tr
              th Database:
              td {{kernel.store_dir}}
            tr
              th Location:
              td.wrapped {{kernel.StoreDirectory}}
            tr
              th Memory:
              td {{kernel.all_stores_total_mapped_memory_size}} 
            tr
              th Storage:
              td.warn not available
        .span4
          h3 Graph
          table.table.table-condensed
            tr
              td 
                span(ng-repeat='node in labels')
                  span
                    a.badge(ng-click="execScript('MATCH (n:'+node+') RETURN n LIMIT 100')") {{node}}
                  | &nbsp;
            tr
              td 
                span(ng-repeat='relationship in relationships')
                  span
                    a.label(ng-click="execScript('MATCH (a)-[:'+relationship+']->(b) RETURN a,b LIMIT 100')") {{relationship}}
                  | &nbsp;
        .span4
          h3 Queries
          ul
            li(ng-repeat="document in documents.where({folder: 'general'})")
              .list-item
                a.icon-play-sign(ng-click='execScript(document.content)')
                  a(ng-click="setEditorContent(document.content)")
                    {{document.content | autotitle}}
       .hero-unit
        blockquote
          | &ldquo;{{motd.quote.text}}&rdquo;
          br
          span.author &mdash; {{motd.quote.author}}