article.help
  .container
    section
     .row
        .span12
          h1
            img(src="images/about-logo.png")
          p {{ neo4j.version }}
      .row
        .span4
          h3 Server
          table.table.table-condensed
            tr
              th Database:
              td {{kernel.store_dir | basename }}
            tr
              th Location:
              td.wrapped {{kernel.store_dir | dirname }}
            tr
              th Memory:
              td {{kernel.all_stores_total_mapped_memory_size}}
            tr
              th Storage:
              td.warn unknown
        .span4
          div(ng-show="neo4j.hasData")
            h3 Graph
            table.table.table-condensed
              tr
                td
                  span(ng-repeat='node in labels | limitTo:16')
                    span
                      a.badge(ng-click="editor.execScript('MATCH (n:'+node+') RETURN n LIMIT 100')") {{node}}
                    | &nbsp;
              tr
                td
                  span(ng-repeat='relationship in relationships | limitTo:16')
                    span
                      a.label.relationship(ng-click="editor.execScript('MATCH (a)-[:'+relationship+']->(b) RETURN a,b LIMIT 100')") {{relationship}}
                    | &nbsp;
              tr
                td
                  span(ng-repeat='propertyKey in propertyKeys | limitTo:16')
                    span
                      a.label.property(ng-click="editor.execScript('MATCH (a) WHERE has(a.'+propertyKey+') RETURN a LIMIT 100')") {{propertyKey}}
                    | &nbsp;
          div(ng-hide="neo4j.hasData")
            h3 Empty Graph
            p.lead {{ motd.emptiness }}
            ul
              li
                strong Tutorials:
                a(play-topic='intro') Intro
                a(play-topic='cypher') Cypher
                a(play-topic='patterns') Patterns
              li
                strong Graphs:
                a.icon-play-sign(play-topic='movies') &nbsp;Movies
                a.icon-play-sign(play-topic='social') &nbsp;Social
                a.icon-play-sign(play-topic='telecom') &nbsp;Telecom
        .span4
            h3 Browser
            p.lead Command-driven graph exploration
            ul
              li
                a(help-topic='help') help
                | &nbsp;- how to use this graph Browser
              li
                a(help-topic='cypher') :help cypher
                | &nbsp;- graph query language
              li
                a(help-topic='commands') :help commands
                | &nbsp;- all available commands


            //- ul
            //-   li(ng-repeat="document in documents.where({folder: 'general'})")
            //-     .list-item
            //-       a.icon-play-sign(ng-click='execScript(document.content)')
            //-         a(ng-click="setEditorContent(document.content)")
            //-           {{document.content | autotitle}}

       .hero-unit
        blockquote
          | &ldquo;{{motd.quote.text}}&rdquo;
          br
          span.author &mdash; {{motd.quote.author}}
