article.help
  .container
    section
      .hero-unit
        h1 Neo4j {{neo4j.edition}}
        blockquote
          | &ldquo;{{motd.quote.text}}&rdquo;
          br
          span.author &mdash; {{motd.quote.author}}
      .row
        .span4
          h3 Graph =
          p.lead nodes + relationships + properties
          p
            | Neo4j is a graph database, storing and querying data in a Property Graph.
            | Store anything, asking questions about records are related.
          p
            a.btn(href='graph.html') learn about graphs »
        .span4
          h3 Query
          p.lead a graph with Cypher
          p
            | Cypher is a pattern matching language for querying and manipulating graph data.
            | It has a familiar syntax that is easy on the eyes, and your brain.
          p
            a.btn(href='cypher.html') help with Cypher »
        .span4
          h3 Interact
          p.lead with this command-driven shell
          p
            | Up at the top, you'll notice a friendly command bar where you can enter
            | ad-hoc Cypher queries and client side commands.
          p
            a.btn(href='commands.html') available commands »