#drawer(ng-switch on="whichDrawer")
  div(ng-switch-when="scripts")
    include drawer-scripts
  div(ng-switch-when="info")
    h4 Learn
  div(ng-switch-when="database")
    h4 Neo4j {{ neo4j.version }}
    .inner
      h5 Labels
      a.badge(ng-click="editor.execScript('MATCH n RETURN n LIMIT 25')") *
      span(ng-repeat='node in labels | limitTo:16')
        a.badge(ng-click="editor.execScript('MATCH (n:'+node+') RETURN n LIMIT 25')") {{node}}

      h5 Relationships
      a.label.relationship(ng-click="editor.execScript('MATCH (a)-[r]-(b) RETURN a,b LIMIT 25')") {{relationship}} *
      span(ng-repeat='relationship in relationships | limitTo:16')
        a.label.relationship(ng-click="editor.execScript('MATCH (a)-[:'+relationship+']->(b) RETURN a,b LIMIT 25')") {{relationship}}

      h5 Server
      ul
        li.pair
          .key Database:
          .value {{kernel.store_dir}}
        li.pair
          .key Location:
          .value {{kernel.StoreDirectory}}
        li.pair
          .key Memory:
          .value {{kernel.all_stores_total_mapped_memory_size}}

  div(ng-switch-default)
    h4 Super secret sidebar. Shh!!
