h4 Information
.inner

  h5 Documentation

  a.icon-external-link-sign(href='http://docs.neo4j.org/chunked/{{neo4j.version | neo4jdoc }}/') &nbsp;Neo4j Manual

  h5 Guides

  ul
    li 
      a.icon-info-sign(play-topic='intro')  Getting started
    li 
      a.icon-info-sign(play-topic='learn')  Basic Concepts
    li 
      a.icon-info-sign(play-topic='develop')  Writing Cypher queries

  h5 Sample data
  ul
    li 
      a.icon-info-sign(play-topic='movies')  Movies

  h5 Reference

  ul
    li 
      a.icon-info-sign(help-topic='cypher')  Cypher syntax
    li 
      a.icon-info-sign(help-topic='help')  Help command
    li 
      a.icon-info-sign(help-topic='commands')  Available commands
    li 
      a.icon-info-sign(help-topic='keys')  Key combinations

  h5 Participate
    ul
      li Ask questions at 
        a(href='http://stackoverflow.com/questions/tagged/neo4j') Stack Overflow
      li Discuss Neo4j on 
        a(href='http://groups.google.com/group/neo4j') Google Groups
      li Visit a local 
        a(href='http://neo4j.meetup.com/') Meetup Group
      li Contribute code on 
        a(href='http://github.com/neo4j') Github

