h4 Information
.inner
  h5 Legal
  p Copyright &copy; 2002–2013
    a(href='http://neotechnology.com/', target='_BLANK')  Neo Technology
    .
  p License: GPLv3 or AGPL for Open Source, and NTCL for Commercial.
