h4 Credits
.inner
  h5 Made by 
    a(href='http://neotechnology.com/', target='_BLANK')  Neo Technology
  p Copyright &copy; 2002–{{today | date:'yyyy'}}
    
  h5 License
  p 
    a(href='http://www.gnu.org/licenses/gpl.html') GPLv3 
    | or 
    a(href='http://www.gnu.org/licenses/agpl-3.0.html') AGPL 
    | for Open Source, 
  p and 
    a(href='http://neotechnology.com/') NTCL 
    for Commercial.

  h5 Thanks
  p Neo4j wouldn't be possible without a fantastic community. Thanks for all the feedback, discussions and contributions.

  footer With 
    span.icon-heart
    |  from Sweden.