inspector(show='isInspectorShown', ng-controller='InspectorCtrl', style="top: 250px; left: 300px")
  .header {{item.type}}&nbsp;
    span.muted [{{item.id}}]
    a.close.icon-remove(ng-click='toggleInspector()')

  tabset
    tab
      tab-heading
        i.icon-info-sign
        span.name Properties
      ul.sections.unstyled.tight.scrollable
        li.pair(ng-repeat='(name, val) in item.attrs')
          .key {{name}}
          .value {{val}}

    tab
      tab-heading
        i.icon-eye-open
        span.name Style
      ul.sections.unstyled
        li
          i.icon-font
          .dropdown
            a.dropdown-toggle(data-toggle='dropdown') {{selectedCaption || 'Caption...'}} &nbsp;
            i.icon-caret-down
            ul.dropdown-menu.pull-left(role='menu')
              li
                a(ng-click='selectCaption("id")') ID
              li(ng-repeat='(name, val) in item.attrs')
                a(ng-click='selectCaption(name)') {{name}}
        li.colors
          ul.inline
            li(ng-repeat='color in colors')
              a(style='background-color: {{color}}'
                ng-class='{active: color == selected.fill}'
                ng-click="selectFill(color)")
        li
          i.icon-code
          a(ng-click='togglePopup("styling")') View stylesheet...
