inspector#inspector(show='isInspectorShown', ng-controller='InspectorCtrl')
  .header Producer&nbsp;
    span.muted [192]
    a.close.icon-remove(ng-click='toggleInspector()')
  ul.nav.nav-tabs
    li
      a
        i.icon-info-sign
        span.name Properties
    li
      a
        i.icon-sitemap
        span.name Connections
    li.active
      a
        i.icon-eye-open
        span.name Style

  .body
    ul.sections.unstyled
      li
        i.icon-font
        .dropdown
          a.dropdown-toggle(data-toggle='dropdown') First name &nbsp;
          i.icon-caret-down
          ul.dropdown-menu.pull-left(role='menu')
            li
              a ID
            li
              a
                b First name
            li
              a Title
      li.colors
        ul.inline
          li
            a(style='background-color: #BDC3C7')
          li
            a(style='background-color: #1ABC9C')
          li
            a.active(style='background-color: #3498DB')
          li
            a(style='background-color: #E74C3C')
      li
        i.icon-code
        a(ng-click='togglePopup("styling")') View stylesheet...

span(style: 'display: none;')
  .body
    ul.sections.unstyled
      li.pair
        .key name
        .value Sangria
      li.pair
        .key login
        .value sangria81
      li.pair
        .key password
        .value "67c0726fee300663a7142ab05872d63c"
