inspector#inspector(show='isInspectorShown', ng-controller='InspectorCtrl', ng-init='selectedTab = "props"')
  .header {{item.type}}&nbsp;
    span.muted [{{item.id}}]
    a.close.icon-remove(ng-click='toggleInspector()')
  ul.nav.nav-tabs
    li(ng-class='{active: selectedTab == "props"}', ng-click='selectedTab = "props"')
      a
        i.icon-info-sign
        span.name Properties
    li(ng-class='{active: selectedTab == "rels"}', ng-click='selectedTab = "rels"')
      a
        i.icon-sitemap
        span.name Relations
    li(ng-class='{active: selectedTab == "styling"}', ng-click='selectedTab = "styling"')
      a
        i.icon-eye-open
        span.name Style

  .body('ng-show' = 'selectedTab == "props"')
    ul.sections.unstyled
      li.pair(ng-repeat='(name, val) in item.attrs')
        .key {{name}}
        .value {{val}}

  .body('ng-show' = 'selectedTab == "styling"')
    ul.sections.unstyled
      li
        i.icon-font
        .dropdown
          a.dropdown-toggle(data-toggle='dropdown') {{selected.caption || 'Caption...'}} &nbsp;
          i.icon-caret-down
          ul.dropdown-menu.pull-left(role='menu')
            li
              a(ng-click='selectCaption("id")') ID
            li(ng-repeat='(name, val) in item.attrs')
              a(ng-click='selectCaption(name}")') {{name}}
      li.colors
        ul.inline
          li(ng-repeat='color in colors')
            a(style='background-color: {{color}}'
              ng-class='{active: color == selected.fill}'
              ng-click="selectFill(color)")
      li
        i.icon-code
        a(ng-click='togglePopup("styling")') View stylesheet...

  .body('ng-show' = 'selectedTab == "rels"')
    ul.sections.unstyled
      li Nothing here yet...
