inspector#inspector(show='isInspectorShown', ng-controller='InspectorCtrl')
  .header {{item.type}}&nbsp;
    span.muted [{{item.id}}]
    a.close.icon-remove(ng-click='toggleInspector()')
  ul.nav.nav-tabs
    li
      a
        i.icon-info-sign
        span.name Properties
    li
      a
        i.icon-sitemap
        span.name Connections
    li.active
      a
        i.icon-eye-open
        span.name Style

  .body
    ul.sections.unstyled
      li
        i.icon-font
        .dropdown
          a.dropdown-toggle(data-toggle='dropdown') {{selected.caption || 'Caption...'}} &nbsp;
          i.icon-caret-down
          ul.dropdown-menu.pull-left(role='menu')
            li
              a(ng-click='selectCaption("id")') ID
            li(ng-repeat='(name, val) in item.attrs')
              a(ng-click='selectCaption("{"+name+"}")') {{name}}
      li.colors
        ul.inline
          li(ng-repeat='color in colors')
            a(style='background-color: {{color}}'
              ng-class='{active: color == selected.fill}'
              ng-click="selectFill(color)")
      li
        i.icon-code
        a(ng-click='togglePopup("styling")') View stylesheet...

span(style: 'display: none;')
  .body
    ul.sections.unstyled
      li.pair
        .key name
        .value Sangria
      li.pair
        .key login
        .value sangria81
      li.pair
        .key password
        .value "67c0726fee300663a7142ab05872d63c"
