inspector(show='isInspectorShown', ng-controller='InspectorCtrl', style="top: 60px; right: 24px")
  .header
    span.preview(style='background-color: {{ style.fill }};')
    {{item.labels.join(', ')}}&nbsp;
    span.muted [{{item.id}}]
    a.close.icon-remove(ng-click='toggleInspector()')

  tabset
    tab
      tab-heading
        i.icon-info-sign
        span.name Properties
      ul.sections.unstyled.tight.scrollable
        li.empty(ng-show='item.attrs.length == 0') No properties
        li.pair(ng-repeat='attr in item.attrs')
          .key {{attr.key}}
          .value {{attr.value}}

    tab
      tab-heading
        i.icon-eye-open
        span.name Style
      ul.sections.unstyled
        li
          i.icon-font
          .dropdown
            a.dropdown-toggle(data-toggle='dropdown') {{selectedCaption}} &nbsp;
              i.icon-caret-down
            ul.dropdown-menu.pull-left(role='menu')
              li
                a(ng-click='selectCaption("id")') ID
              li(ng-repeat='attr in item.attrs')
                a(ng-click='selectCaption(attr.key)') {{attr.key}}
        li.colors
          ul.inline
            li(ng-repeat='scheme in colors')
              a(style='background-color: {{scheme.fill}}'
                ng-class='{active: scheme.fill == style.fill}'
                ng-click="selectScheme(scheme)")
        li
          i.icon-code
          a(ng-click='togglePopup("styling")') View stylesheet...
