#legend
  ul.unstyled
    li
      .preview(style='background-color: #1ABC9C;')
      .contents.no-condition
        .class-name Director
          .remove.btn.btn-small Remove
        .condition
    li
      .preview(style='background-color: #3498DB;')
      .contents.no-condition
        .class-name __type__ == org.neo4j.cineasts.domain.User
          .remove.btn.btn-small Remove
        .condition
    li
      .preview(style='background-color: #9B59B6;')
      .contents
        .class-name Actor
          .remove.btn.btn-small Remove
        .condition age > 50
