.list-item(ng-click="editor.loadDocument(document.id)")
  a.icon-play-sign(ng-click='editor.execScript(document.content)', tooltip-placement='right', tooltip='Execute script')
  a.icon-trash('ng-click'="removeDocument(document)")
  .contents
    a {{document.content | autotitle}}

