.list-item
  a.icon-play-sign(ng-click='execScript(document.content)', tooltip-placement='right', tooltip='Execute script')
  a.icon-trash('ng-click'="toggleStar(document)")
  .contents
    a(ng-click="setEditorContent(document.content)")
      {{document.content | autotitle}}

