.list-item
  a.icon-play-sign(ng-click='execScript(document.content)', tooltip-placement='right', tooltip='Execute script')
  a.icon-star('ng-click'="toggleStar(document)", tooltip-placement='left', tooltip='Save/Unsave')
  .contents
    a
      {{document.content | autotitle}}

