#nav
  ul.nav.nav-list
    li.nav-header
      a(href='#/stream') Neo4j
        .logo(fancy-logo ng-class='{loading: currentFrame.isLoading}')
          .ball.one
          .ball.two
          .ball.three
    li(ng-class='{active: showingSidebar("scripts") }')
      a(href='#/stream').icon-star(ng-click='toggleSidebar("scripts")')
    li(ng-class='{active: showingSidebar("info") }')
      a(href='#/stream').icon-book(ng-click='toggleSidebar("info")')
    li(ng-class='{active: showingSidebar("database") }')
      a(href='#/stream').icon-hdd(ng-click='toggleSidebar("database")')
