#nav
  ul.nav.nav-list
    li.nav-header(ng-class='{active: currentPage == "views"}')
      a(href='#/views') Neo4j
        .logo(ng-class='{loading: currentView.isLoading}')
          .ball.one
          .ball.two
          .ball.three
    li(ng-class='{active: currentPage == "system"}')
      a.icon-gears(href='#/system')
    li.dropdown
      a.icon-book.dropdown-toggle(href='#', data-toggle='dropdown')
      ul.dropdown-menu
        li
          a(ng-click='togglePopup("keys")') Keyboard shortcuts
        li.divider
        li
          a(ng-href = "http://docs.neo4j.org/chunked/{{server.neo4j_version}}", target="_BLANK")
            | Docs
            i.icon-external-link.icon-margin-left
