#nav
  ul.nav.nav-list
    li.nav-header
      a(href='#/stream') Neo4j
        .logo(fancy-logo ng-class='{loading: currentFrame.isLoading}')
          .ball.one
          .ball.two
          .ball.three
    li(ng-class='{active: showingDrawer("scripts") }')
      a(href='#/stream').icon-star(ng-click='toggleDrawer("scripts")')
    li(ng-class='{active: showingDrawer("info") }')
      a(href='#/stream').icon-book(ng-click='toggleDrawer("info")')
    li(ng-class='{active: showingDrawer("database") }')
      a(href='#/stream').icon-hdd(ng-click='toggleDrawer("database")')
