#nav
  ul.nav.nav-list
    li.nav-header(ng-class='{active: currentPage == "stream"}')
      a(href='#/stream') Neo4j
        .logo(fancy-logo ng-class='{loading: currentFrame.isLoading}')
          .ball.one
          .ball.two
          .ball.three
    //- li(ng-class='{active: currentPage == "views"}')
    //-   a.icon-list-alt(href='#/views')
    li.bottom(ng-class='{active: currentPage == "system"}')
      a.icon-gears(href='#/system')
