#nav
  ul.nav.nav-list
    li.nav-header(ng-class='{active: showingDrawer("database") }')
      a(ng-click='toggleDrawer("database")') Neo4j
        .logo(fancy-logo ng-class='{loading: currentFrame.isLoading}')
          .ball.one
          .ball.two
          .ball.three
    li(ng-class='{active: showingDrawer("scripts") }')
      a.icon-star(ng-click='toggleDrawer("scripts")')
    li(ng-class='{active: showingDrawer("info") }')
      a.icon-book(ng-click='toggleDrawer("info")')
