nav.top-bar
  ul.title-area
    li.name
      h1
        a.title(ng-click='togglePopup("about")')
          .app-name Neo4j
          .edition Enterprise

  section.top-bar-section
    ul.left
      li
        a(ng-click='createView()')
          i.icon-plus
          | New View
      li
        a(ng-click='copyView(currentView)')
          i.icon-code-fork
          | Duplicate

    ul.right
      li.has-dropdown
        a
          | Help
        ul.dropdown
          li
            a(ng-click='togglePopup("about")') About this server
          li
            a(ng-click='togglePopup("keys")') Keyboard shortcuts
          li
            a(href = "http://docs.neo4j.org", target="_BLANK") Docs
