nav.top-bar
  ul.title-area
    li.name.has-dropdown
      h1
        a.title('ng-click'="toggleHistory()")
          .app-name Neo4j
          .edition Enterprise
      .dropdown
        h3 Neo4j Community
          .version 2.0.0-M03

        .main
          ul.stats
            li
              .key hostname
              .value localhost
            li
              .key database
              .value local.graphdb
            li
              .key store location
              .value /Users/batman/local.graphdb

          ul.stats
            li
              .key hostname
              .value localhost
            li
              .key database
              .value local.graphdb

          .button.secondary Configuration
          .button.secondary System Report

        .footer
          .license
            | License GPLv3
            | Copyright 2013 Neo Technology
          .button.secondary Details


  section.top-bar-section
    ul.left
      li
        a(ng-click='createView()')
          .icon.menu-plus
          | New View
      li
        a(ng-click='copyView(currentView)')
          .icon.menu-fork
          | Duplicate

    ul.right
      li.has-dropdown
        a
          | Help
        ul.dropdown
          li
            a(ng-click='toggleShortcuts()') Keyboard shortcuts
          li
            a(href = "http://docs.neo4j.org", target="_BLANK") Docs
