.navbar.navbar-inverse
  .navbar-inner
    a.brand(ng-click='togglePopup("about")') Neo4j
    ul.nav
      li
        a(ng-click='createView()')
          i.icon-plus.icon-margin-right
          | New View
      li
        a(ng-click='copyView(currentView)')
          i.icon-copy.icon-margin-right
          | Duplicate
    ul.nav.pull-right
      li
        a(href = "http://docs.neo4j.org", target="_BLANK")
          | Docs
          i.icon-external-link.icon-margin-left
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Help&nbsp;
          b.caret
        ul.dropdown-menu
          li
            a(ng-click='togglePopup("about")') About this server
          li
            a(ng-click='togglePopup("keys")') Keyboard shortcuts
