div(ng-controller='GrassCtrl')
  .modal-header
    a.icon-download-alt.pull-right(ng-click='export()')
    h3 GraSS Code
  .modal-body
    textarea(ui-codemirror="{theme: 'css', readOnly: true}", ng-model="code")
  //- .modal-footer
  //-   a.btn(href='#') Close
  //-   a.btn.btn-primary(href='#') Copy to clipboard
