div(ng-controller='StylePreviewCtrl')
  .modal-header
    a.close.pull-right(ng-click='togglePopup()')
      &times;
    h3(style="display:inline;") GraSS Code
    a.icon-download-alt(exportable ng-click='exportGraSS(code)', tooltip="Export to file")
  .modal-body
    textarea(ui-codemirror="{theme: 'css', readOnly: true}", ng-model="code")
    file-upload(upload='import($content)', extension='.grass') Drop a GraSS-file here to import
