.inner
  h2 Keyboard shortcuts
  h3 Global
  ul
    li
      .left-col
        .key.code Ctrl-Enter
      .right-col
        | Execute current query
    li
      .left-col
        .key.code Ctrl-Up
      .right-col
        | Goto previous view
    li
      .left-col
        .key.code Ctrl-Down
      .right-col
        | Goto next view
    li
      .left-col
        .key.code Esc
      .right-col
        | Toggle editor

  h3 Only when editor is hidden
  ul
    li
      .left-col
        .key.code ?
      .right-col
        | Toggle this view
    li
      .left-col
        .key.code h
      .right-col
        | Toggle history
    li
      .left-col
        .key.code t
      .right-col
        | Toggle table
    li
      .left-col
        .key.code n
      .right-col
        | Create a new view
    li
      .left-col
        .key.code d
      .right-col
        | Duplicate current view
