.inner
  .header
    .logo
      .version {{server.neo4j_version}}

  .body
    .stats
      ul
        li
          .key Hostname:
          .value {{host}}
        li
          .key Database:
          .value {{kernel.store_dir}}
        li
          .key Store location:
          .value {{kernel.StoreDirectory}}
        li
          .key Memory:
          .value {{kernel.all_stores_total_mapped_memory_size}}

  .footer
    .license
      | License GPLv3
      a()  (Read more)
      br
      | Copyright 2013 Neo Technology
