span(ng-show='view.hasErrors')
  | Execution error
span(ng-hide='view.hasErrors')
  span
    | Returned
    <b ng-show='!view.response.isTextOnly()'>{{view.response.nodes.length}} nodes</b>
    <b ng-show='view.response.isTextOnly()'>{{view.response.other.length}} rows</b>
