span(ng-show='frame.hasErrors')
  | Execution error
span(ng-hide='frame.hasErrors')
  span
    | Returned
    <b ng-show='!frame.response.isTextOnly()'>{{frame.response.nodes.length}} nodes</b>
    <b ng-show='frame.response.isTextOnly()'>{{frame.response.other.length}} rows</b>
