#stream(ng-controller='StreamCtrl')
  .frame(
    ng-repeat = 'frame in frames.items | orderBy:"startTime":true'
    ng-animate="{leave:'frame-out', enter:'frame-in'}"
    ng-include = "frame.templateUrl"
  )
