#editor(ng-class="{'one-line': editorOneLine}")
  .view-input
    .view-editor(ng-mousedown="focusEditor()", ng-controller = "EditorCtrl")
      span.ng-cloak
        .prompt.code-style $
        textarea('ui-codemirror'="{theme: 'neo', autofocus: true, lineNumbers: true, lineWrapping: true, onChange: editorChanged, onFocus: editorChanged}",
          ng-model='editor.content',
          placeholder='{{motd.tip}}'
          )
      ul.controls.inline
        li(tooltip-placement='bottom', tooltip='Save')
          a.balled.golden(ng-class="{active: editor.content, 'enabled': editor.document.id, 'changed': editor.hasChanged()}", ng-click='star()')
            i.icon-star(ng-class="{'icon-exclamation': editor.hasChanged()}")
        li(tooltip-placement='bottom', tooltip='New')
          a.balled.add(ng-click='editor.setContent("")', ng-class="{active: editor.content}")
            i.icon-plus
        li.divider &nbsp;
        li(tooltip-placement='bottom', tooltip='Execute')
          a.balled.success('ng-click' = 'editor.execScript(editor.content)', ng-class="{active: editor.content}")
            i.icon-play

      .message-bar.error(ng-show='editor.errorCode', ng-animate="{hide:'slide-down-out', show:'slide-down-in'}")
        | You screamed <b>{{editor.errorMessage | uncomment}}</b> but nobody replied.
        | Type <code>help</code> for a list of available commands.
        a.icon-remove(ng-click='editor.errorCode = null')
    #views(ng-controller='StreamCtrl')
      .view(
        ng-repeat = 'frame in frames.items | orderBy:"startTime":true'
        ng-animate="{leave:'frame-out', enter:'frame-in'}"
        ng-include = "frame.templateUrl"
      )

