#main
  #editor(ng-class="{'one-line': editorOneLine}")
    .view-input
      .view-editor
        //- a.open-sidebar(ng-click="toggleSidebar()")
          i(ng-class="{'icon-chevron-left': isSidebarShown, 'icon-bookmark': !isSidebarShown}")
        span.ng-cloak
          .prompt.code-style $
          textarea('ui-codemirror'="{theme: 'neo', autofocus: true, lineNumbers: true, onChange: editorChanged, onFocus: editorChanged}",
            ng-model='editor.content',
            placeholder='{{motd.tip}}'
            )
          //- a.icon-play-sign('ng-click' = 'execScript(editor.content)')
        ul.controls.inline
          li(tooltip-placement='bottom', tooltip='Execute')
            a.balled.success('ng-click' = 'execScript(editor.content)', ng-class="{muted: editor.content == ''}")
              i.icon-play
          li(tooltip-placement='bottom', tooltip='Clear')
            a.balled(ng-click='setEditorContent("")', ng-class="{muted: !editor.content}")
              i.icon-remove
          li.divider &nbsp;
          li(tooltip-placement='bottom', tooltip='Previous')
            a.balled(ng-click='historyPrev()', ng-class="{muted: !editor.prev}")
              i.icon-arrow-left
          li(tooltip-placement='bottom', tooltip='Next')
            a.balled(ng-click='historyNext()', ng-class="{muted: !editor.next}")
              i.icon-arrow-right

  #views(style="top: {{editorHeight}}px")
    .view(
      ng-repeat = 'frame in frames.items | orderBy:"startTime":true'
      ng-animate="{leave:'frame-out', enter:'frame-in'}"
      ng-include = "frame.templateUrl"
    )
