#main
  #editor(ng-class="{'one-line': editorOneLine}")
    .view-input
      //- .view-toolbar
      //-   ul.inline
      //-     li
      //-       a.btn(ng-click="toggleSidebar()")
      //-         i.icon-file-text
      //-         |  Saved scripts
      //-     li
      //-       a.btn(ng-click="execScript(editor.content)")
      //-         i.icon-play-sign
      //-         |  Run
      //-     li
      //-       a.btn(ng-click='setEditorContent("")')
      //-         i.icon-file-alt
      //-         |  Clear
      //-     //- li
      //-     //-   select.span2
      //-     //-     option(ng-repeat='label in labels') {{label}}
      //-     //- li
      //-     //-   select
      //-     //-     option(ng-repeat='relation in relationships') {{ relation }}
      .view-editor
        a.open-sidebar(ng-click="toggleSidebar()")
          i(ng-class="{'icon-chevron-left': isSidebarShown, 'icon-bookmark': !isSidebarShown}")
        span
          textarea('ui-codemirror'="{theme: 'neo', autofocus: true, lineNumbers: true, onChange: editorChanged, onFocus: editorChanged}",
            'ng-model'='editor.content',
            'ui-refresh'='editor.content + isEditorHidden',
            placeholder='Write some code...'
            )
          //- a.icon-play-sign('ng-click' = 'execScript(editor.content)')
        .controls
          .name(ng-click="togglePopup('about')") Neo4j Enterprise
          .divider &nbsp;
          .navigate
            a.icon-circle-arrow-left(ng-click='historyPrev()', ng-class="{muted: !editor.prev}")
            a.icon-circle-arrow-right(ng-click='historyNext()', ng-class="{muted: !editor.next}")

  #views(style="top: {{editorHeight}}px")
    .view(
      ng-repeat = 'frame in frames.items | orderBy:"startTime":true'
      ng-animate="{leave:'frame-out', enter:'frame-in'}"
      ng-include = "frame.templateUrl"
    )
