#editor(ng-class="{'one-line': editorOneLine}")
  .view-input
    .view-editor(ng-mousedown="focusEditor()", ng-controller = "EditorCtrl")
      span.ng-cloak
        .prompt.code-style $
        textarea('ui-codemirror'="{theme: 'neo', autofocus: true, lineNumbers: true, onChange: editorChanged, onFocus: editorChanged}",
          ng-model='editor.content',
          placeholder='{{motd.tip}}'
          )
      ul.controls.inline
        li(tooltip-placement='bottom', tooltip='Execute')
          a.balled.success('ng-click' = 'editor.execScript(editor.content)', ng-class="{active: editor.content}")
            i.icon-play
        li(tooltip-placement='bottom', tooltip='Clear')
          a.balled.remove(ng-click='editor.content = ""', ng-class="{active: editor.content}")
            i.icon-remove
        li.divider &nbsp;
        li(tooltip-placement='bottom', tooltip='Save')
          a.balled.golden.rectangle(ng-class="{active: editor.content}", ng-click='star()')
            i.icon-star

#views(style="top: {{editorHeight}}px", ng-controller='StreamCtrl')
  .view(
    ng-repeat = 'frame in frames.items | orderBy:"startTime":true'
    ng-animate="{leave:'frame-out', enter:'frame-in'}"
    ng-include = "frame.templateUrl"
  )
