article.guide
  section.step
    h1 Participate
    section.step
      h2 Join a thriving community
      img(src='/content/help/guides/img/dashboard.png')
      ul
        li
          a(href='http://stackoverflow.com/questions/tagged/neo4j') Stack Overflow
          | for
          em Q
          | uestions and
          em A
          | nswers
        li
          a(href='http://groups.google.com/group/neo4j') Google Groups
          | to discuss general Neo4j topics
        li
          a(href='http://neo4j.meetup.com') Meetup.com
          | for face-to-face interaction with peers
        li
          a(href='http://github.com/neo4j') Github
          | for open source code contributions
      p.hint
        a.deck-url(href='/content/help/guides/guide.html') Help
        | about other stuff.
