!!! 5
html(class="no-js", lang="en", ng-app="neo4jApp", ng-controller="MainCtrl")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title(ng-bind-template="Neo4j {{kernel.store_dir}}")
      | Neo4j
    meta(name="description", content="Neo4j Browser")
    meta(name="author", content="Neo Technology AB")
    //build:css styles/main.css
    link(rel='stylesheet', href='components/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='components/CodeMirror/lib/codemirror.css')
    link(rel="stylesheet", href="/styles/main.css")
    //endbuild


  body(ng-class="{'hide-editor': isEditorHidden, 'expand-graph': isGraphExpanded, 'expand-table': isTableExpanded, 'show-sidebar': isSidebarShown, 'modal-shown': isPopupShown}", ng-controller="LayoutCtrl", keydown="globalKey($event)")

    //- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
    //- chromium.org/developers/how-tos/chrome-frame-getting-started
    //if lt IE 7
      script(defer, src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
      script(defer)
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})

    .alert-box.global.alert.ng-cloak(data-alert='data-alert', ng-show='offline')
      | Neo4j appears to be offline.
      a.close(href='#') ×

    #page-container(ng-include='\'views/main.html\'')

    include views/template/tooltip
    include views/template/tabs

    //build:js scripts/components.js
    script(src='components/jquery/jquery.js')
    script(src='components/jquery-ui/ui/jquery.ui.core.js')
    script(src='components/jquery-ui/ui/jquery.ui.widget.js')
    script(src='components/jquery-ui/ui/jquery.ui.mouse.js')
    script(src='components/jquery-ui/ui/jquery.ui.draggable.js')
    script(src='components/jquery-ui/ui/jquery.ui.sortable.js')
    script(src='components/local-storage-js/storage.js')
    script(src='components/angular-unstable/angular.js')
    script(src='components/angular-resource/angular-resource.js')
    script(src='components/angular-cookies/angular-cookies.js')
    script(src='components/angular-sanitize/angular-sanitize.js')
    script(src='components/angular-local-storage/angular-local-storage.js')
    script(src='components/angular-ui-bootstrap/src/transition/transition.js')
    script(src='components/angular-ui-bootstrap/src/dialog/dialog.js')
    script(src='components/angular-ui-bootstrap/src/dropdownToggle/dropdownToggle.js')
    script(src='components/angular-ui-bootstrap/src/tooltip/tooltip.js')
    script(src='components/angular-ui-bootstrap/src/popover/popover.js')
    script(src='components/angular-ui-bootstrap/src/position/position.js')
    script(src='components/angular-ui-bootstrap/src/tabs/tabs.js')
    script(src='components/angular-ui-sortable/src/sortable.js')
    script(src='components/angular-moment/index.js')
    script(src='components/codemirror/lib/codemirror.js')
    script(src='components/codemirror/addon/display/placeholder.js')
    script(src='components/cypher/index.js')
    script(src='components/css/index.js')
    script(src='components/angular-ui-codemirror/ui-codemirror.js')
    script(src='components/d3/d3.js')
    script(src='components/blob/Blob.js')
    script(src='components/file-saver/FileSaver.js')
    script(src='components/moment/moment.js')
    script(src='components/UUID.js/src/uuid.js')
    script(src='components/modernizr/modernizr.js')
    script(src='components/tweenMax/src/uncompressed/TweenMax.js')
    //endbuild

    //build:js scripts/scripts.js
    script(src='scripts/polyfill.js')
    script(src='scripts/settings.js')
    script(src='scripts/utils.js')
    script(src='scripts/app.js')
    script(src='scripts/init/httpHeaders.js')
    script(src='scripts/init/routes.js')
    script(src='scripts/init/statusCheck.js')
    script(src='scripts/init/tooltip.js')
    script(src='scripts/init/defaultContent.js')
    script(src='scripts/init/graphRenderers.js')
    script(src='scripts/init/cypherInterceptors.js')
    script(src='scripts/init/frameInterpretators.js')
    script(src='scripts/controllers/view.js')
    script(src='scripts/controllers/layout.js')
    script(src='scripts/directives/keydown.js')
    script(src='scripts/filters/uncomment.js')
    script(src='scripts/filters/autotitle.js')
    script(src='scripts/services/Cypher.js')
    script(src='scripts/services/Collection.js')
    script(src='scripts/services/GraphModel.js')
    script(src='scripts/services/Timer.js')
    script(src='scripts/directives/focusOn.js')
    script(src='scripts/services/CSV.js')
    script(src='scripts/directives/resizable.js')
    script(src='scripts/directives/fileUpload.js')
    script(src='scripts/directives/neoTable.js')
    script(src='scripts/directives/neoGraph.js')
    script(src='scripts/controllers/d3Graph.js')
    script(src='scripts/controllers/CSV.js')
    script(src='scripts/directives/editInPlace.js')
    script(src='scripts/services/Server.js')
    script(src='scripts/controllers/Main.js')
    script(src='scripts/services/Node.js')
    script(src='scripts/services/Relationship.js')
    script(src='scripts/controllers/JMX.js')
    script(src='scripts/services/GraphExplorer.js')
    script(src='scripts/services/GraphRenderer.js')
    script(src='scripts/services/GraphStyle.js')
    script(src='scripts/controllers/Inspector.js')
    script(src='scripts/directives/inspector.js')
    script(src='scripts/controllers/Legend.js')
    script(src='scripts/controllers/Grass.js')
    script(src='scripts/controllers/CypherResult.js')
    script(src='scripts/services/motdService.js')
    script(src='scripts/directives/fancyLogo.js')
    script(src='scripts/services/Persistable.js')
    script(src='scripts/services/Folder.js')
    script(src='scripts/services/Document.js')
    script(src='scripts/services/Frame.js')
    script(src='scripts/animations/frame.js')
    script(src='scripts/directives/outputRaw.js')
    script(src='scripts/directives/fullscreen.js')
    //endbuild
