.code-bar
  .label.label-info HTTP
  span.code {{frame.input | uncomment}}
  .actions
    a.icon-star(ng-click='importDocument(frame.input)', tooltip-placement='bottom', tooltip='Save script')
    a.icon-edit(tooltip-placement='bottom', tooltip='Modify script')
    a.icon-download-alt(exportable ng-click='exportJSON(frame.response)', tooltip-placement='bottom', tooltip='Export JSON')
    span.divider &nbsp;
    a.icon-trash(ng-click='destroyFrame(frame)', tooltip-placement='bottom', tooltip='Remove')

.inner
  .view-result.boxed(ng-show='frame.response')
    pre(output-raw = "frame.response")
  .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}')
    div(ng-hide='frame.isLoading')
      span(ng-show='frame.hasErrors')
        .icon-warning-sign
        {{frame.errorText}}
      div(ng-hide='frame.hasErrors')
        div(ng-show='frame.response')
          .icon-ok
          span(ng-show='frame.hasErrors')
            | Execution error
    span(ng-show='frame.isLoading')
      .icon-spinner.icon-spin
      | Executing query...
