.code-bar
  .label.label-info HTTP
  span.code {{frame.input}}
  .actions
    a.btn.btn-small(ng-click='importDocument(frame.input)')
      i.icon-star
    a.btn.btn-small
      i.icon-edit
    a.btn.btn-small(exportable ng-click='exportJSON(frame.response)')
      i.icon-download-alt
    a.btn.btn-small(ng-click='destroyFrame(frame)')
      i.icon-remove
.inner
  .view-result.boxed(ng-show='frame.response')
    pre(output-raw = "frame.response")
  .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}')
    div(ng-hide='frame.isLoading')
      span(ng-show='frame.hasErrors')
        .icon-warning-sign
        {{frame.errorText}}
      div(ng-hide='frame.hasErrors')
        div(ng-show='frame.response')
          .icon-ok
          span(ng-show='frame.hasErrors')
            | Execution error
