a.background(href="{{viewUrl(view.id)}}")
a.refresh(ng-click='view.exec()', ng-class='{"running spin": view.isLoading}')
a.star('ng-click'="toggleStar(view)")
.contents
  a(href="{{viewUrl(view.id)}}")
    {{view.input | autotitle}}
    span(ng-hide='view.isLoading')
      .meta(ng-show='view.runTime')
        .icon(ng-class='{"query-error": view.hasErrors, "query-success": !view.hasErrors}')
        //- span('am-time-ago' = 'view.startTime', ng-hide='view.stats')
        {{view.stats}}
        span(ng-include=" 'views/result-status.html' ")
