#query-bar
  form('ng-submit' = 'execute()')
    input('ng-model'="query", type="text")

#query-view-container
  #view-sidebar
  #view-active
    #view-editor
      //-textarea('ui-codemirror'=true, 'ng-model'='editorInput')
      {{ views.current }}
    #view-result
      svg(viewBox="0 0 800 400", preserveAspectRatio="xMidyMid", d3=true, d3-data="graph", d3-renderer="graphRenderer")
        defs
        g#paths
        g#path_texts
  #view-history
    ul
      li('ng-repeat' = 'view in views.history')
        span('ng-click' = 'views.select($index)')
          {{view.output}}
