nav.top-bar
  ul.title-area
    li.name
      h1
        a Neo4j Browser
  section.top-bar-section
    ul.left
      li
        a(ng-click='createView()')
          .icon.menu-plus
          | New
      li
        a(ng-click='createView(views.current.input)')
          .icon.menu-plus
          | Fork

    ul.right
      li
        ul.button-group(style='position:relative;top:5px;right:16px')
            li
              span
                a.small.button.secondary('ng-click'="toggleEditor()") Editor
            li
              span
                a.small.button.secondary('ng-click'="toggleGraph()") Graph
            li
              span
                a.small.button.secondary('ng-click'="toggleTable()") Table

    //-     .icon.history(ng-click='toggleHistory()')

#history
  //-.icon.close-history('ng-click'="toggleHistory()")
  h4 Saved
  ul.starred
    li('ng-repeat' = "view in views.history.where({starred:true})", 'ng-class'='{error: view.response.isError}', 'ng-animate'=" 'animate' ")
      a.star('ng-click'="views.toggleStar(view.id)")
      a.refresh
      .contents
        a('ng-click'="views.select(view.id)")
          {{view.input | autotitle}}
        .meta
          .icon.query-success
          //- .icon.query-error
          | 10 min ago
  h4 Unsaved
  ul
    li('ng-repeat' = 'view in views.history.where({starred:false})', 'ng-class'='{error: view.response.isError}', 'ng-animate'=" 'animate' ")
      a.star('ng-click'="views.toggleStar(view.id)")
      .contents
        a('ng-click'="views.select(view.id)")
          {{view.input | autotitle}}
        .meta
          .icon.query-success
          //- .icon.query-error
          | 10 min ago

#views
  #view-background
  .view('ng-repeat' = 'view in views.history.all()', 'ng-show' = 'view.id == views.current.id')
    .view-editor
      //- a.handle('ng-click'="toggleEditor()")
      textarea('ui-codemirror'="{theme: 'neo'}", 'ng-model'='view.input')
      .icon.editor-refresh('ng-click' = 'view.exec()')
      //-.update-button.button.right('ng-click' = 'view.exec()') Execute
    visualization.view-result(query='view.response.input')
      .status-bar(ng-class='{error: view.response.hasErrors, loading: view.isLoading}')
        span(ng-show='view.response.hasErrors') {{view.response.errorText}}
        span(ng-show='view.isLoading') Loading...
        div(ng-show='result')
          | Returned
          <b ng-show='!result.isTextOnly()'>{{result.nodes.length}} nodes</b>
          <b ng-show='result.isTextOnly()'>{{result.other.length}} rows</b>
          | in <b>{{result.queryTime}} ms</b>
      .split-pane
        .view-result-graph
          .icon.download('ng-click'='export()')
          //-.icon.expand('ng-click'="toggleGraph()", 'ng-class'='{restore: isGraphExpanded}')
          neo-graph
        .view-result-table
          .icon.download('ng-click'='export()')
          //-.icon.expand('ng-click'="toggleTable()", 'ng-class'='{restore: isTableExpanded}')
          .view-result-table-scroll
            neo-table
