#query-bar
  form('ng-submit' = 'execute()')
    input.fixed-font('ng-model'="query", type="text", placeholder='Enter a query...')

#query-view-container
  //- #view-sidebar
  #view-active
    #view-editor
      textarea('ui-codemirror'='{lineNumbers: true}', 'ng-model'='views.current.input')
      .button.right Run
    #view-result(style="height:300px;")
      //svg(d3=true, d3-data="graph", d3-renderer="renderer.dynamic")
      //  defs
      //  g#paths
      //  g#path_texts
      visualization(query='views.current.response.input')
  #view-history
    ul
      li('ng-repeat' = 'view in views.history', 'ng-click' = 'views.select($index)')
        span
          {{view.response.input | autotitle}}
        div(style="width: 100%;height: 200px")
          svg(d3=true, d3-data="view.response.visualization", d3-renderer="renderer.dynamic")
            g#paths
