nav.top-bar
  ul.title-area
    li.name
      h1
        a Neo4j Browser
  section.top-bar-section
    ul.left
      li
        a(ng-click='execute()')
          .icon.menu-plus
          | New

    ul.right

      li
        .icon.history(ng-click='toggleHistory()')

#history
  .icon.close-history('ng-click'="toggleHistory()")
  h3 Views
  h4 Saved
  ul.starred
    li('ng-repeat' = "view in views.history | filter:{starred:true}", 'ng-class'='{error: view.response.isError}', 'ng-animate'=" 'animate' ")
      a.star('ng-click'="view.toggleStar()")
      a('ng-click'="views.select(view.id)")
        {{view.input | autotitle}}
  h4 Unsaved
  ul
    li('ng-repeat' = 'view in views.history | filter:{starred:false}', 'ng-class'='{error: view.response.isError}', 'ng-animate'=" 'animate' ")
      a.star('ng-click'="view.toggleStar()")
      a('ng-click'="views.select(view.id)")
        {{view.input | autotitle}}

#views
  #view-background
  .view('ng-repeat' = 'view in views.history', 'ng-show' = 'view.id == views.current.id')
    .view-editor
      a.handle('ng-click'="toggleEditor()")
      textarea('ui-codemirror'="{theme: 'neo'}", 'ng-model'='view.input')
      .update-button.button.right('ng-click' = 'view.exec()') Execute
    visualization.view-result(query='view.response.input')
      .status-bar(ng-class='{error: view.response.hasErrors}')
        span(ng-show='view.response.hasErrors') {{view.response.errorText}}
        div(ng-show='result')
          | Returned
          <b ng-show='!result.isTextOnly()'>{{result.nodes.length}} nodes</b>
          <b ng-show='result.isTextOnly()'>{{result.other.length}} rows</b>
          | in <b>{{result.queryTime}} ms</b>
      .split-pane
        .view-result-graph
          .icon.download('ng-click'='export()')
          .icon.expand('ng-click'="toggleGraph()", 'ng-class'='{restore: isGraphExpanded}')
          neo-graph
        .view-result-table
          .icon.download('ng-click'='export()')
          .icon.expand('ng-click'="toggleTable()", 'ng-class'='{restore: isTableExpanded}')
          .view-result-table-scroll
            neo-table
