include partials/inspector

// Need to put StreamCtrl on main container to not loose history when changing tab
div(ng-switch="currentPage", ng-controller='StreamCtrl')
  include partials/nav
  .page(ng-switch-when='stream')
    include partials/sidebar
    include partials/views
  .page.system(ng-switch-when='system', ng-controller='JMXCtrl')
    include partials/system
footer(ng-hide="isSidebarShown", ng-animate="{hide:'fade-down-out', show:'fade-down-in'}") Copyright &copy; 2002-2013 <strong>Neo Technology</strong>. License: GPLv3 or AGPL for Open Source, and NTCL for Commercial.
