nav.top-bar
  ul.title-area
    li.name
      h1
        a Neo4j Browser
  section.top-bar-section
    ul.left
      li
        a(ng-click='execute()')
          .icon.plus
          | New

    ul.right

      li
        .icon.history(ng-click='toggleHistory()')

#history
  .icon.close-history('ng-click'="toggleHistory()")
  ul
    li('ng-repeat' = 'view in views.history', 'ng-click' = 'views.select($index)', 'ng-class'='{error: view.response.isError}')
      a('ng-click'="toggleHistory()")
        {{view.response.input | autotitle}}

#view
  #view-editor
    a.handle('ng-click'="toggleEditor()")
    textarea('ui-codemirror'="{theme: 'neo'}", 'ng-model'='views.current.input')
    #update-button.button.right('ng-click' = 'views.current.exec()') Execute

  #view-result
    .status-bar Returned <b>X nodes</b> in <b>Y ms</b>
    .split-pane
      #view-result-graph
        .icon.expand('ng-click'="toggleGraph()", 'ng-class'='{restore: isGraphExpanded}')
        .icon.download
        visualization(query='views.current.response.input')
      #view-result-table
        .icon.download
        .icon.expand('ng-click'="toggleTable()", 'ng-class'='{restore: isTableExpanded}')
