script#popup-about(type="text/ng-template")
  include partials/popup-about

script#popup-keys(type="text/ng-template")
  include partials/popup-keys

script#popup-styling(type="text/ng-template")
  include partials/popup-styling

include partials/inspector

div(ng-switch="currentPage", ng-controller='ViewCtrl')
  include partials/nav
  .page(ng-switch-when='views')
    include partials/sidebar
    include partials/views
  .page.system(ng-switch-when='system', ng-controller='JMXCtrl')
    include partials/system
