nav.top-bar
  ul.title-area
    li.name
      h1
        a('ng-click'="toggleHistory()") Neo4j Browser
  section.top-bar-section
    ul.left
      li
        a(ng-click='createView()')
          .icon.menu-plus
          | New View
      li
        a(ng-click='copyView(views.current)')
          .icon.menu-fork
          | Duplicate

    ul.right
      li
        a(href = "http://neo4j.org", target="_BLANK")
          | Help
      //- ul.button-group(style='position:relative;top:5px;right:16px;z-index:10')
      //-     li
      //-       span
      //-         a.small.button('ng-click'="toggleEditor()", 'ng-class'='{secondary: !isEditorHidden}') Editor
      //-     li
      //-       span
      //-         a.small.button('ng-click'="toggleGraph()", 'ng-class'='{secondary: !isGraphExpanded}') Graph
      //-     li
      //-       span
      //-         a.small.button('ng-click'="toggleTable()", 'ng-class'='{secondary: !isTableExpanded}') Table

#history
  h3 History
  a.icon.history-close('ng-click'="toggleHistory()")
  h4 Starred
  ul.starred
    li('ng-repeat' = "view in views.history.where({starred:true})", 'ng-class'='{error: view.hasErrors, active: view.id == views.current.id}', 'ng-animate'=" 'animate' ")
      a.star('ng-click'="view.toggleStar()")
      a.refresh(ng-click='view.exec()', ng-class='{"running spin": view.isLoading}')
      .contents
        a(href="{{viewPath(view.id)}}")
          {{view.input | autotitle}}
        .meta(ng-show='view.runTime')
          .icon(ng-class='{"query-error": view.hasErrors, "query-success": !view.hasErrors}')
          span('am-time-ago' = 'view.startTime')
  h4 Recent
  ul
    li('ng-repeat' = 'view in views.history.where({starred:false})', 'ng-class'='{error: view.hasErrors, active: view.id == views.current.id}', 'ng-animate'=" 'animate' ")
      a.star('ng-click'="view.toggleStar()")
      .contents
        a(href="{{viewPath(view.id)}}")
          {{view.input | autotitle}}
        .meta(ng-show='view.runTime')
          .icon(ng-class='{"query-error": view.hasErrors, "query-success": !view.hasErrors}')
          span('am-time-ago' = 'view.startTime')

#views
  #view-background
  .view('ng-repeat' = 'view in views.history.all()', 'ng-show' = 'view.id == views.current.id')
    .view-editor
      //- a.handle('ng-click'="toggleEditor()")
      textarea('ui-codemirror'="{theme: 'neo'}", 'ng-model'='view.input', 'ui-refresh'='views.current.id')
      .icon.editor-refresh('ng-click' = 'view.exec()')
      //-.update-button.button.right('ng-click' = 'view.exec()') Execute
    visualization.view-result(result='view.response', ng-class='{error: view.hasErrors}')
      .status-bar(ng-class='{error: view.hasErrors, loading: view.isLoading}')
        div(ng-hide='view.isLoading')
          span(ng-show='view.hasErrors')
            .icon.status-error
            {{view.errorText}}
          div(ng-hide='view.hasErrors')
            div(ng-show='result')
              .icon.status-success
              | Returned
              <b ng-show='!result.isTextOnly()'>{{result.nodes.length}} nodes</b>
              <b ng-show='result.isTextOnly()'>{{result.other.length}} rows</b>
              | in <b>{{result.queryTime}} ms</b>
            div(ng-hide='result')
              .icon.status-info
              | Press Cmd-Enter to execute query
        span(ng-show='view.isLoading')
          .icon.status-running.spin
          | Executing query...
      .split-pane(ng-class='{hidden: view.hasErrors || !result}')
        .view-result-graph
          //- .icon.download('ng-click'='export()')
          //-.icon.expand('ng-click'="toggleGraph()", 'ng-class'='{restore: isGraphExpanded}')
          neo-graph
        .view-result-table
          //- .icon.download('ng-click'='export()')
          //-.icon.expand('ng-click'="toggleTable()", 'ng-class'='{restore: isTableExpanded}')
          .view-result-table-scroll
            neo-table
