nav.top-bar
  ul.title-area
    li.name
      h1
        a Neo4j Browser
  section.top-bar-section
    ul.left
      li.divider
      li
        a(ng-click='execute()') New
      li.divider
    ul.right
      li.divider.hide-for-small
      li
        a(ng-click='toggleHistory()') History

#history
  .button.small(style='position:absolute;top:16px;right:16px', 'ng-click'="toggleHistory()") Close
  ul
    li('ng-repeat' = 'view in views.history', 'ng-click' = 'views.select($index)', 'ng-class'='{error: view.response.isError}')
      a('ng-click'="toggleHistory()")
        {{view.response.input | autotitle}}

#view
  #view-editor
    a.handle('ng-click'="toggleEditor()")
    textarea('ui-codemirror'="{theme: 'neo'}", 'ng-model'='views.current.input')
    #update-button.button.right('ng-click' = 'views.current.exec()') Execute
  #view-result
    #view-result-graph
      .button.small(style='position:absolute;top:16px;right:16px', 'ng-click'="toggleGraph()") Toggle
      visualization(query='views.current.response.input')
    #view-result-table
      .button.small(style='position:absolute;top:16px;right:16px', 'ng-click'="toggleTable()") Toggle
