include partials/inspector

#error Neo4j is down. Please check if the cord is unplugged.
#leftbar(ng-controller = "SidebarCtrl")
  include partials/nav
  include partials/drawer
#main
  include partials/views
