#main('ng-init'='isEditorHidden = false', 'ng-class'="{'hide-editor': isEditorHidden}")
  #view-editor
    a.handle('ng-click'="isEditorHidden = !isEditorHidden")
    textarea('ui-codemirror'="{theme: 'neo'}", 'ng-model'='views.current.input')
  #view-result
    svg(d3=true, d3-data="graph", d3-renderer="renderer.dynamic")
      defs
      g#paths
      g#path_texts
    visualization(query='views.current.response.input')
  .button.right('ng-click' = 'views.current.exec()', style='position:absolute;top:80px;right:21px') Update

//- #query-bar
//-   form('ng-submit' = 'execute()')
//-     input.fixed-font('ng-model'="query", type="text", placeholder='Enter a query...')

//- #query-view-container
//-   //- #view-sidebar
//-   #view-active(ng-show="views.current")
//-     #view-editor
//-       textarea('ui-codemirror'='{lineNumbers: true}', 'ng-model'='views.current.input')
//-       .button.right('ng-click' = 'views.current.exec()') Run
//-     #view-result(style="height:300px;")
//-       visualization(query='views.current.response.input', style="float:left;")
//-       svg.graph-viz(d3=true, d3-data="graph", d3-renderer="renderer.dynamic")
//-         defs
//-         g#paths
//-         g#path_texts
//-   #view-history
//-     ul
//-       li('ng-repeat' = 'view in views.history', 'ng-click' = 'views.select($index)', 'ng-class'='{error: view.response.isError}')
//-         span
//-           {{view.response.input | autotitle}}
//-         div(style="width: 100%;height: 200px")
//-           svg(d3=true, d3-data="view.response.visualization", d3-renderer="renderer.dynamic")
//-             g#paths
