#query-bar
  form('ng-submit' = 'execute()')
    input.fixed-font('ng-model'="query", type="text", placeholder='Enter a query...')

#query-view-container
  #view-sidebar
  #view-active
    #view-editor
      textarea('ui-codemirror'=true, 'ng-model'='views.current.response')
    #view-result(style="height:300px;")
      svg(d3=true, d3-data="graph", d3-renderer="renderer.dynamic")
        defs
        g#paths
        g#path_texts
  #view-history
    ul
      li('ng-repeat' = 'view in views.history')
        span('ng-click' = 'views.select($index)')
          {{view.output.response}}
        div(style="width: 100%;height: 200px")
          svg(d3=true, d3-data="view.output.visualization", d3-renderer="renderer.dynamic")
            g#paths
