span(ng-show='view.response.stats.nodes_created')
  | Created
  <b>{{view.response.stats.nodes_created}} nodes</b>
span(ng-hide='view.response.stats.nodes_created')
  | Returned
  <b ng-show='!view.response.isTextOnly()'>{{view.response.nodes.length}} nodes</b>
  <b ng-show='view.response.isTextOnly()'>{{view.response.other.length}} rows</b>
