.code-bar
  .label.label-info REST
  span.code {{view.input | uncomment}}
  .actions
    a.btn.btn-small
      i.icon-star
    a.btn.btn-small
      i.icon-edit
    a.btn.btn-small
      i.icon-collapse-alt
    a.btn.btn-small(ng-click='destroyView(view)')
      i.icon-remove
.view-result.cypher(ng-class='{error: view.hasErrors}', ng-hide='view.hasErrors')
  pre
    {{view.response}}
.status-bar(ng-class='{error: view.hasErrors, loading: view.isLoading}')
  div(ng-hide='view.isLoading')
    span(ng-show='view.hasErrors')
      .icon-warning-sign
      {{view.errorText}}
    div(ng-hide='view.hasErrors')
      div(ng-show='view.response')
        .icon-ok
        span(ng-show='view.hasErrors')
          | Execution error
